* {
  margin: 5px;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1.5px solid #429dc1;
}
.logoImage {
  width: 150px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 25px;
}

ul li {
  padding: 20px 10px 0px 10px;
  margin: 0px;
}

.navItems {
  padding: 0px 20px;
  margin: 30px;
  display: flex;
}

.cart-icon {
  margin-top: 40px;
}

.dropDown1 {
  font-size: 22px;

  padding: 0 100px;
}

.user-icon {
  width: 100px;
}

.RestaurantList {
  /* color: #000; */
  /* text-decoration: none; */
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 250px;
  padding: 5px;
  border: 2px solid rgb(174, 170, 170);
  font-size: 10px;
  margin-top: 10px;
}

.res-card > img {
  padding: 5px;
  width: 95%;
  height: 35%;
}

.res-card > .short-desc {
  background-color: #fff;
  font-size: 20px;
  /* height: 90%; */
}

.res-card:hover {
  cursor: pointer;
  border: 2px solid black;
}

.search-input,
.search-filter-btn,
.avgRating-filter-btn,
.true-false-toggle-btn {
  margin: 5px;
  padding: 5px 15px;
  border-radius: 20px;
}

.rest-title,
.h1-title-name {
  margin: 50px 0px;
  padding: 5px 15px;
  border-radius: 20px;
}
.title-btn,
.login-btn,
.logout-btn {
  margin: 50px 10px;
  padding: 10px 20px;
  border-radius: 20px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  padding: 200px 80px;
  background-color: #f1f1f1;
  width: 250px;

  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 2px solid rgb(174, 170, 170); */
  margin-top: 10px;
}

.home_page,
.about_page,
.contact_page {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  border: 2px solid orange;

}

.restaurantInfo {
  border: 2px solid black;
  
}


.restMenuID{
  font-size: 20px;

}

.restaurantMenu {
  border: 2px solid red;
 
}

.restaurantMenu > ul{
  list-style-type:circle;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.mainRestImgForMenu{
  width: 300px;
}